*{
  
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

p{
    color: white;
}

.bouble{
    position:absolute;
    top: 98%;
    width: 100%;
}
 
.bouble span{
    position:absolute;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    animation: animateBubble 10s linear infinite;
}

@keyframes animateBubble{
    0%{transform: translateY(50%); opacity: 1;}
    99%{opacity: 1;}
    100%{transform: translateY(-100vh); opacity: 0;}
 
}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.comingSoon{
    width: 100%;
}
.comingText{
text-align: center;
font-family:Merriweather;
font-size: 10vw;
}
.container{
display: flex;
justify-content: space-around;
align-items: center;

}


.date{
    width: 100%;
    margin-top: 5%;
}
.container p {
    font-size: 4vw;
}


.container div {
  text-align: center;
}
